Source: treematch
Section: ocaml
Priority: optional
Maintainer: Wojciech Meyer <wojciech.meyer@gmail.com>
Uploaders: 
 Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild,
 dh-ocaml,
 ocaml-nox (>= 3.12),
 ocaml-findlib,
 libbaselib-ocaml-dev,
 libsexplib-camlp4-dev,
 camlp4-extra,
 menhir
Standards-Version: 3.9.2
Homepage: https://github.com/danmey/treematch
Vcs-Git: git://github.com/danmey/treematch
Vcs-Browser: https://github.com/danmey/treematch

Package: treematch
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Typed tree structure operations generator
 Treematch is a typed tree structure generator. It can generate the tree
 structure as well as various operations such as map and fold. Using matching
 strategies, it is possible to encode complex compound operations in a purely
 declarative way.
